.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg-app);
    overflow: hidden;
}

.workspace {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;
}

.content {
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--color-bg-app);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}